
<div class="container" style="margin-top:80px">
    <div class="row">
        <div class="col-sm-12 col-lg-4" style="border: 2px solid  #f2f2f2; border-radius: 30px;">
            <h2 style="margin-top: 50px; font-weight: bold;">Setup your restaurant</h2>
            
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/home-page'" >Restaurant Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/fssai-details'">FSSAI Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/comission'">Comission & Onboarding</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/owner-details'">Owner/Location Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/gst-details'">GST/PAN Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/bank-details'">Bank Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/e-sign'">E-Sign</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/onboarding-form'">Onboarding Form</a>
                </li>
              </ul>
        </div>

        <div class="col-sm-12 col-lg-7" style="background-color: #f2f2f2; border-radius: 30px; margin-left: 50px;">
            <div class="progress" style="margin-top: 50px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width:2%"></div>
            </div>
            <h2 style="margin-top: 30px; font-weight: bold;">FSSAI Details</h2>
            <h4>Kindly provide valid certificates for the followings</h4>
            <form>  
                <div class="form-group">  
                    <label for="whatsapp_notification">DO YOU HAVE VALID FSSAI CERTIFICATE?</label>  <br>
                    <input type="checkbox" id="owner_contact" style="background-color:  #f2f2f2; height: 20px; width: 20px; margin-right: 20px;">YES 
                    <input type="checkbox" id="owner_contact" style="background-color:  #f2f2f2; height: 20px; width: 20px; margin-right: 20px;margin-left: 100px;;">NO 
                </div>  
                <div class="form-group">  
                    <label for="name">FSSAI EXPIRATION DATE</label>  
                    <!-- <input type="text" class="form-control" id="fssai_ex_date" style="background-color:  #f2f2f2;" placeholder="Select date" required>  -->
                    <input class="form-control" id="fssai_ex_date" style="background-color:  #f2f2f2;" placeholder="Select date" matInput [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker> 
                </div>     
                <div class="form-group">  
                    <label for="name">FSSAI REGISTER NO.</label>  
                    <input type="text" class="form-control" id="fssai_reg_no" style="background-color:  #f2f2f2;" placeholder="Enter register no." required>  
                </div>    
                <div class="form-group">  
                    <label for="city">FSSAI LICENSE TYPE</label>  
                    <select class="form-control" id="fssai_liecense_type" style="background-color:  #f2f2f2;" required>  
                    <option>Select FSSAI type</option>  
                    </select>  
                </div>  
                <div class="form-group">  
                    <label for="owner_contact">FSSAI FIRM NAME</label>  
                    <input type="text" class="form-control" id="fssai_firm_name" style="background-color:  #f2f2f2;" placeholder="Enter firm name">  
                </div>  
                <div class="form-group">  
                    <label for="owner_contact">FSSAI ADDRESS</label>  
                    <input type="text" class="form-control" id="fssai_address" style="background-color:  #f2f2f2;" placeholder="Enter address">  
                </div>
                <button type="" (click)="onClickBack()" class="btn btn-lg" style="border: 1px solid gray;">BACK</button>  
                <button type="" (click)="onClickNext()" class="btn btn-dark btn-lg" style="float: right;">NEXT</button>  
            </form><br><br><br>
        </div>
    </div>
</div>