
  
  <div class="container" style="margin-top:80px">
    <div class="row">
      <div class="col-sm-12 col-lg-4" style="border: 2px solid  #f2f2f2; border-radius: 30px;">
        <h2 style="margin-top: 50px; font-weight: bold;">Setup your restaurant</h2>
        
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/home-page'" >Restaurant Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/fssai-details'">FSSAI Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/comission'">Comission & Onboarding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/owner-details'">Owner/Location Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/owner-details'">GST/PAN Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/owner-details'">Bank Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/owner-details'">E-Sign</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/owner-details'">Onboarding Form</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-lg-7" style="background-color: #f2f2f2; border-radius: 30px; margin-left: 50px;">
        
        <label>Profile Completed</label>
        <mat-progress-bar
            [color] = "color"
            [value] = "value"
            [bufferValue] = "bufferValue"
            >
        </mat-progress-bar>
        <h2 style="margin-top: 30px; font-weight: bold;">GST/PAN Details</h2>
        <form>
          <div class="form-group">  
            <label for="name">ENTER PAN NO.</label>  
            <input type="text" class="form-control" id="pan-no" style="background-color:  #f2f2f2;" placeholder="Enter PAN No." required>  
          </div>    
          <div class="form-group">  
            <label for="city">PAN DOCUMENT</label>  
            <select class="form-control" id="city" style="background-color:  #f2f2f2;" required>  
              <option>Select Type</option>  
            </select>  
          </div>  
          <div class="form-group">  
            <label for="whatsapp_notification">DO YOU HAVE A GST IN?</label>  <br>
            <input type="checkbox" id="owner_contact" style="background-color:  #f2f2f2; height: 20px; width: 20px; margin-right: 20px;">YES 
            <input type="checkbox" id="owner_contact" style="background-color:  #f2f2f2; height: 20px; width: 20px; margin-right: 20px;margin-left: 100px;;">NO 
          </div>  
          <div class="form-group">  
            <label for="owner_contact">BUSINESS ENTITY NAME</label>  
            <input type="text" class="form-control" id="business-title" style="background-color:  #f2f2f2;" placeholder="Enter title">  
          </div>   
          <div class="form-group">  
            <label for="owner_contact">BUSINESS ENTITY ADDRESS</label>  
            <input type="text" class="form-control" id="business-adress" style="background-color:  #f2f2f2;" placeholder="Enter address">  
          </div>  
          <button type="" class="btn btn-lg" style="border: 1px solid gray;">BACK</button>  
          <button type="" (click)="onClick()" class="btn btn-dark btn-lg" style="float: right;">NEXT</button>  
        </form><br><br><br>
      </div>
    </div>
  </div>