
      <div class="col-sm-12 col-lg-12" style="border: 2px solid  #f2f2f2; border-radius: 30px;">
        <h2 style="margin-top: 50px; font-weight: bold;">Setup your restaurant</h2>
        
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/home-page'" >Restaurant Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/fssai-details'">FSSAI Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/comission'">Comission & Onboarding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/owner-details'">Owner/Location Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/gst-details'">GST/PAN Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/bank-details'">Bank Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/e-sign'">E-Sign</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/onboarding-form'">Onboarding Form</a>
            </li>
          </ul>
      </div>