
  
  <div class="container" style="margin-top:80px">
    <div class="row">
      <div class="col-sm-12 col-lg-4" style="border: 2px solid  #f2f2f2; border-radius: 30px;">
        <h2 style="margin-top: 50px; font-weight: bold;">Setup your restaurant</h2>
        
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/home-page'" >Restaurant Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/fssai-details'">FSSAI Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/comission'">Comission & Onboarding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/owner-details'">Owner/Location Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/gst-details'">GST/PAN Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/bank-details'">Bank Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/e-sign'">E-Sign</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/onboarding-form'">Onboarding Form</a>
            </li>
          </ul>
      </div>

      <div class="col-sm-12 col-lg-7" style="background-color: #f2f2f2; border-radius: 30px; margin-left: 50px;">
        <div class="progress" style="margin-top: 50px;">
          <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width:2%">
          </div>
        </div>
        <h2 style="margin-top: 30px; font-weight: bold;">Comission & Onboarding Details</h2>
        <form>        
          <label for="">Please note that 15% fees will be applicable on onboarding your restaurant. Click "Accept" to continue.</label>
          <button type="" (click)="onClickDecline()" class="btn btn-lg" style="border: 1px solid gray;">DECLINE</button>  
          <button type="" (click)="onClickAccept()" class="btn btn-dark btn-lg" style="float: right;">ACCEPT</button>  
        </form><br><br><br>
      </div>
    </div>
  </div>