.header{
    background-color: #f2f2f2;
    height: 150px;
}

.navv{
    margin-bottom: 0;
    /* border: 1px solid black; */
    margin-top: 80px;
}

.navmenu{
    font-size: 20px;
}

.tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
 }
 .tp-margin {
    margin: 0 10px;
 }