<!-- <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>My First Bootstrap 4 Page</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div> -->
  <div class="container-fluide header">
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div style="float: left;">
                <a href="index.html">
                    <img src="assets/logo.png" alt="Speedyy" height="90" width="90" style="margin-left: 200px;"><br>
                    <p style="margin-left: 200px; font-size: 20px; font-weight: bold; color: #000;">SPEEDYY</p>
                </a>
            </div>            
        </div>
        
        <div class="col-sm-6 col-lg-6">
            <button type="submit" class="btn btn-dark btn-lg" style="float: right; margin-right: 200px; margin-top: 50px;">HELP</button>
        </div>
    </div>
  </div>