
  
  <div class="container" style="margin-top:80px">
    <div class="row">
      <div class="col-sm-12 col-lg-4" style="border: 2px solid  #f2f2f2; border-radius: 30px;">
        <h2 style="margin-top: 50px; font-weight: bold;">Setup your restaurant</h2>
        
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/home-page'" >Restaurant Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/fssai-details'">FSSAI Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/comission'">Comission & Onboarding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/owner-details'">Owner/Location Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/owner-details'">GST/PAN Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/owner-details'">Bank Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/owner-details'">E-Sign</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/owner-details'">Onboarding Form</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-lg-7" style="background-color: #f2f2f2; border-radius: 30px; margin-left: 50px;">
        
        <label>Profile Completed</label>
        <mat-progress-bar
            [color] = "color"
            [value] = "value"
            [bufferValue] = "bufferValue"
            >
        </mat-progress-bar>
        <h2 style="margin-top: 30px; font-weight: bold;">Restaurant Details</h2>
        <form>   
          <div class="form-group">  
            <label for="city">ARE YOU THE OWNER OR THE MANAGER?</label>  
            <select class="form-control" id="city" style="background-color:  #f2f2f2;" required>  
              <option>Owner</option>  
            </select>  
          </div>  
          <div class="form-group">  
            <label for="name">OWNER FULL NAME</label>  
            <input type="text" class="form-control" id="name" style="background-color:  #f2f2f2;" placeholder="Enter name" required>  
          </div>  
          <div class="form-group">  
            <label for="whatsapp_no">CONTACT NO.</label>
            <input type="checkbox" style="background-color:  #f2f2f2; height: 20px; width: 20px; float: right;" placeholder="Contact no.">
            <span style="float: right; margin-right: 20px;">SAME AS RESTAURANT'S MOBILE No.</span>
            <input type="text" class="form-control" id="whatsapp_no" style="background-color:  #f2f2f2;">  
          </div> 
          <div class="form-group">  
            <label for="name">OWNER EMAIL ID</label>  
            <input type="text" class="form-control" id="name" style="background-color:  #f2f2f2;" placeholder="Enter email" required>  
          </div>  
          <div class="form-group">  
            <label for="whatsapp_no">INVOICE EMAIL ID</label>
            <input type="checkbox" style="background-color:  #f2f2f2; height: 20px; width: 20px; float: right;" placeholder="invoice email">
            <span style="float: right; margin-right: 20px;">SAME AS OWNER'S EMAIL ID</span>
            <input type="text" class="form-control" id="whatsapp_no" style="background-color:  #f2f2f2;">  
          </div>
          <button type="" class="btn btn-lg" style="border: 1px solid gray;">BACK</button>  
          <button type="" (click)="onClick()" class="btn btn-dark btn-lg" style="float: right;">NEXT</button>  
        </form><br><br><br>
      </div>
    </div>
  </div>